{% extends 'base.html' %}

{% block title %}Avilable products{% endblock %}

{% block content %}

<div class="content-about">
    <section id="profiles" class="profiles-main">
        <article id="profile1" class="profile">
          <img class="profile-img" src="..\..\static\images\arun.jpg" alt="Profile Image" />
          <div class="profile-info">
            <h2>Arunmanikandan C</h2>
            <p>Roll No: <span>CB.AI.U4AID23167</span></p>
            <p>Details...</p>
          </div>
        </article>
    </section>
    <section id="profiles" class="main">
        <article id="profile2" class="profile">
          <img class="profile-img" src="..\..\static\images\hari.jpg" alt="Profile Image" />
          <div class="profile-info">
            <h2>P.Hari gopal vatsal</h2>
            <p>Roll No: <span>CB.AI.U4AID23129</span></p>
            <p>Details...</p>
          </div>
        </article>
    </section>
    <section id="profiles" class="main">
        <article id="profile3" class="profile">
          <img class="profile-img" src="..\..\static\images\sai.jpg" alt="Profile Image" />
          <div class="profile-info">
            <h2>charan</h2>
            <p>Roll No: <span>CB.AI.U4AID23130</span></p>
            <p>Details...</p>
          </div>
        </article>
    </section>
    <section id="profiles" class="main">
        <article id="profile4" class="profile">
          <img class="profile-img" src="..\..\static\images\mohi.jpg" alt="Profile Image" />
          <div class="profile-info">
            <h2>mohit </h2>
            <p>Roll No: <span>CB.AI.U4AID23153</span></p>
            <p>Details...</p>
          </div>
        </article>
    </section>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}