{% extends 'base.html' %}

{% block title %}Avilable products{% endblock %}

{% block content %}

<div class="content-about">
    <section id="profiles" class="profiles-main">
        <article id="profile1" class="profile">
          <img class="profile-img" src="..\..\static\images\arun.jpg" alt="Profile Image" />
          <div class="profile-info">
            <h2>Arunmanikandan C</h2>
            <p>Roll No: <span>CB.AI.U4AID23167</span></p>
            <p>Details...</p>
          </div>
        </article>
    </section>
    <section id="profiles" class="main">
        <article id="profile2" class="profile">
          <img class="profile-img" src="..\..\static\images\after.png" alt="Profile Image" />
          <div class="profile-info">
            <h2>Jane Doe</h2>
            <p>Role: Designer</p>
          </div>
        </article>
    </section>
    <section id="profiles" class="main">
        <article id="profile3" class="profile">
          <img class="profile-img" src="..\..\static\images\after.png" alt="Profile Image" />
          <div class="profile-info">
            <h2>John Smith</h2>
            <p>Role: Developer</p>
          </div>
        </article>
    </section>
    <section id="profiles" class="main">
        <article id="profile4" class="profile">
          <img class="profile-img" src="..\..\static\images\after.png" alt="Profile Image" />
          <div class="profile-info">
            <h2>Alex Johnson</h2>
            <p>Role: Tester</p>
          </div>
        </article>
    </section>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}