{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login">
    <form class="form" method="POST">
        <label for="email">Email ID:</label>
        <input type="email" name="email" id="email" placeholder="you@example.com" required>
        
        <label for="passkey">Enter your Password:</label>
        <input type="password" name="passkey" id="passkey" placeholder="Your Password" required autocomplete="new-password">
        
        <input type="submit" value="Submit">

        <p>If you haven't logged in before, please create an account:</p>
        <button type="button" onclick="window.location.href='/signup'">Login to Create Account</button>
    </form>
</div>
{% endblock %}
