<!DOCTYPE html>
<html>
<head>
    <title>All Routes</title>
</head>
<body>
    <h1>All Available Routes</h1>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('details') }}">Submit Details</a></li>
        <li><a href="{{ url_for('add_product') }}">Add Product Review</a></li>
        <li><a href="{{ url_for('search_products') }}">Search Products</a></li>
        <li><a href="{{ url_for('temers_and_conditions') }}">Terms and Conditions</a></li>
        <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <!--  <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li> -->
        <!--  <li><a href="{{ url_for('product_list') }}">Product List</a></li>-->
        <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
</body>
</html>
